<form>
  <p><label>Username:&nbsp;</label><input [(ngModel)]="username" required (enter)="search()" name="username" placeholder="Username"/></p>
  <p><label>Password:&nbsp;</label><input [(ngModel)]="password" type="password" (enter)="search()" name="password" placeholder="Password" required/></p>
  <p><label>Search Term:&nbsp;</label><input [(ngModel)]="term" (enter)="search()" name="term" placeholder="Search Term" required/></p>
  <p *ngIf="error">{{ error }}</p>
  <input type="submit" (click)="search()" value="Search">
</form>
<table *ngIf="medicines">
  <thead>
    <tr>
      <th>ID</th>
      <th>DISPLAY NAME</th>
      <th>APPEARANCE</th>
      <th>DOSE TYPE</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let medicine of medicines">
      <td>{{ medicine.id }}</td>
      <td>{{ medicine.displayName }}</td>
      <td>{{ medicine.appearance }}</td>
      <td>{{ medicine.doseType }}</td>
    </tr>
  </tbody>
</table>
